@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: $fontFamily;
}
*:before,
*:after {
  box-sizing: border-box;
}
p,
h1,
h2,
h3,
h4,
ul,
li,
a,
span {
  color: #4d4d4d;
  font-weight: 300;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100%;
  position: relative;
  font-family: $fontFamily;
  overflow-x: hidden;
}
