@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: $fontFamily;
}
*:before,
*:after {
  box-sizing: border-box;
}
p,
li,
h1,
h2,
h3,
h4 {
  color: #242424;
  overflow-wrap: break-word;
  // hyphens: auto;
}
p,
a {
  font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  position: relative;
  font-family: $fontFamily;
}

// SCROLLBAR DESIGN
body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
body::-webkit-scrollbar-thumb {
  background-color: #00a73b;
  outline: 1px solid slategrey;
  // min-height: 30px; //works with page data
}

// HEADER FOOTER DESIGN
.app {
  min-height: 100vh; /* will cover the 100% of viewport */
  display: block;
  position: relative;
  // padding-bottom: 700px; /* height of your footer */
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
