@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Hind Siliguri", sans-serif;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p,
li,
h1,
h2,
h3,
h4 {
  color: #242424;
  overflow-wrap: break-word;
}

p,
a {
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

html,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  position: relative;
  font-family: "Hind Siliguri", sans-serif;
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #00a73b;
  outline: 1px solid slategrey;
}

.app {
  min-height: 100vh;
  /* will cover the 100% of viewport */
  display: block;
  position: relative;
}

.app .footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.header_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 3px 6px;
          box-shadow: rgba(0, 0, 0, 0.2) 0 3px 6px;
}

.header_section nav {
  width: 100%;
  border-bottom: 1px solid lightgrey;
}

.header_section nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header_section nav ul .icons_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 120px;
}

.header_section nav ul .icons_header .header_social_icon1,
.header_section nav ul .icons_header .header_social_icon2,
.header_section nav ul .icons_header .header_social_icon3,
.header_section nav ul .icons_header .header_social_icon4 {
  color: #646b7a;
  cursor: pointer;
  margin: 4px;
  font-size: 20px;
}

@media (max-width: 480px) {
  .header_section nav ul .icons_header .header_social_icon1,
  .header_section nav ul .icons_header .header_social_icon2,
  .header_section nav ul .icons_header .header_social_icon3,
  .header_section nav ul .icons_header .header_social_icon4 {
    font-size: 17px;
  }
}

.header_section nav ul .icons_header .header_social_icon1:hover {
  color: #4267b2;
}

.header_section nav ul .icons_header .header_social_icon2:hover {
  color: #1da1f2;
}

.header_section nav ul .icons_header .header_social_icon3:hover {
  color: #0077b5;
}

.header_section nav ul .icons_header .header_social_icon4:hover {
  color: #075e54;
}

.header_section nav ul li {
  padding: 10px 0 10px 0;
}

.header_section nav ul li a {
  color: #0077b5;
  padding: 7px;
  font-size: 14px;
  text-transform: uppercase;
}

@media (max-width: 480px) {
  .header_section nav ul li a {
    font-size: 12px;
    text-transform: uppercase;
  }
}

.header_section nav ul li .phnNum {
  margin-left: 10px;
  margin-right: 10px;
}

.header_section nav ul li .phnNum .phone {
  color: #02a83d;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.header_section nav ul li .phnNum small {
  font-size: 14px;
}

@media (max-width: 480px) {
  .header_section nav ul li .phnNum {
    display: none;
  }
}

.header_section nav ul li button {
  background-color: #024d86;
  color: white;
  border: none;
  outline: none;
  border-radius: 3px;
  padding: 4px 5px;
  text-transform: uppercase;
}

.header_section header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 100%;
}

.header_section header .hambergur {
  display: none;
}

@media (max-width: 599px) {
  .header_section header .hambergur {
    margin-right: 1.2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header_section header .hambergur .hmenu {
  font-size: 33px;
  cursor: pointer;
  color: #18ba60;
}

@media (max-width: 480px) {
  .header_section header .hambergur .hmenu {
    font-size: 26px;
  }
}

.header_section header .header_image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 1.3em;
}

@media (max-width: 599px) {
  .header_section header .header_image {
    margin-left: 0.7em;
  }
}

.header_section header .header_image img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

@media (max-width: 480px) {
  .header_section header .header_image img {
    width: 50px;
    height: 50px;
  }
}

.header_section header .header_image .header_image_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 0.4em;
  line-height: 18px;
}

.header_section header .header_image .header_image_content article {
  font-weight: 500;
  font-size: 1.1em;
  color: #0060b9;
}

@media (max-width: 480px) {
  .header_section header .header_image .header_image_content article {
    font-size: 14.5px;
  }
}

.header_section header .header_image .header_image_content small {
  font-weight: 500;
  font-size: 13px;
  color: #50a2f0;
}

@media (max-width: 480px) {
  .header_section header .header_image .header_image_content small {
    font-size: 11.5px;
    line-height: 15px;
    margin-top: 2px;
  }
}

.header_section header .hideLinks {
  z-index: 1000;
  position: absolute;
  top: 146px;
  left: 0;
  width: 100%;
  background-color: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 10px;
          box-shadow: rgba(0, 0, 0, 0.2) 0 2px 10px;
}

.header_section header .hideLinks ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.header_section header .hideLinks ul li {
  width: 100%;
  border-bottom: 1px solid lightgrey;
  padding: 10px;
}

.header_section header .hideLinks ul li a {
  font-size: 15px;
  margin-left: 20px;
  color: #383838;
  font-weight: 500;
  text-transform: uppercase;
}

.header_section header .hideLinks ul li a .home_icon {
  font-size: 20px;
  color: #02a83d;
}

.header_section header .hideLinks ul li a:hover {
  color: #0077b5;
}

@media (max-width: 599px) {
  .header_section header .second_header {
    display: none;
  }
}

.header_section header .second_header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 2em;
}

@media (max-width: 599px) {
  .header_section header .second_header ul {
    margin-right: 1em;
  }
}

.header_section header .second_header ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 5px 0 5px;
}

.header_section header .second_header ul li a {
  color: black;
  text-transform: uppercase;
  font-size: 14.5px;
  font-weight: 500;
}

.header_section header .second_header ul li a .home_icon {
  font-size: 20px;
  margin-right: 5px;
  color: #02a83d;
}

.header_section header .second_header ul li a:hover {
  color: #0077b5;
}

.about_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding-bottom: 36em;
}

@media (max-width: 599px) {
  .about_wrapper {
    padding-bottom: 92em;
  }
}

.whoweare {
  margin-top: 3em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (max-width: 599px) {
  .whoweare {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.whoweare .whoweare_content {
  width: 43%;
}

@media (max-width: 599px) {
  .whoweare .whoweare_content {
    width: 90%;
  }
}

.whoweare .whoweare_content p {
  color: #00a37b;
  font-weight: 600;
}

@media screen and (min-width: 320px) {
  .whoweare .whoweare_content p {
    font-size: 14.5px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 375px) {
  .whoweare .whoweare_content p {
    font-size: 14.5px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 425px) {
  .whoweare .whoweare_content p {
    font-size: 15px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 768px) {
  .whoweare .whoweare_content p {
    font-size: 16px;
    line-height: 1.6;
  }
}

@media screen and (min-width: 1024px) {
  .whoweare .whoweare_content p {
    font-size: 17px;
    line-height: 1.7;
  }
}

@media screen and (min-width: 1440px) {
  .whoweare .whoweare_content p {
    font-size: 22px;
    line-height: 1.8;
  }
}

@media screen and (min-width: 2560px) {
  .whoweare .whoweare_content p {
    font-size: 42px;
    line-height: 2;
  }
}

.whoweare .whoweare_content h1 {
  line-height: 1.2em;
}

@media screen and (min-width: 320px) {
  .whoweare .whoweare_content h1 {
    font-size: 20px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 375px) {
  .whoweare .whoweare_content h1 {
    font-size: 22.5px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 425px) {
  .whoweare .whoweare_content h1 {
    font-size: 24px;
    line-height: 1.6;
  }
}

@media screen and (min-width: 768px) {
  .whoweare .whoweare_content h1 {
    font-size: 26px;
    line-height: 1.7;
  }
}

@media screen and (min-width: 1024px) {
  .whoweare .whoweare_content h1 {
    font-size: 30px;
    line-height: 1.7;
  }
}

@media screen and (min-width: 1440px) {
  .whoweare .whoweare_content h1 {
    font-size: 36px;
    line-height: 1.8;
  }
}

@media screen and (min-width: 2560px) {
  .whoweare .whoweare_content h1 {
    font-size: 70px;
    line-height: 1.8;
  }
}

.whoweare .whoweare_content article {
  color: #666666;
  margin: 0 0 10px;
  text-transform: none;
  margin-top: 0.5em;
}

@media screen and (min-width: 320px) {
  .whoweare .whoweare_content article {
    font-size: 14.5px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 375px) {
  .whoweare .whoweare_content article {
    font-size: 14.5px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 425px) {
  .whoweare .whoweare_content article {
    font-size: 15px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 768px) {
  .whoweare .whoweare_content article {
    font-size: 16px;
    line-height: 1.6;
  }
}

@media screen and (min-width: 1024px) {
  .whoweare .whoweare_content article {
    font-size: 17px;
    line-height: 1.7;
  }
}

@media screen and (min-width: 1440px) {
  .whoweare .whoweare_content article {
    font-size: 22px;
    line-height: 1.8;
  }
}

@media screen and (min-width: 2560px) {
  .whoweare .whoweare_content article {
    font-size: 42px;
    line-height: 2;
  }
}

.whoweare .whoweare_img_container {
  width: 43%;
}

@media (max-width: 599px) {
  .whoweare .whoweare_img_container {
    width: 100%;
    margin-top: 0.5em;
  }
}

.whoweare .whoweare_img_container img {
  width: 100%;
  height: 350px;
}

.awards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 90%;
}

.awards h1 {
  line-height: 1.2em;
  font-weight: 500;
}

@media screen and (min-width: 320px) {
  .awards h1 {
    font-size: 20px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 375px) {
  .awards h1 {
    font-size: 22.5px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 425px) {
  .awards h1 {
    font-size: 24px;
    line-height: 1.6;
  }
}

@media screen and (min-width: 768px) {
  .awards h1 {
    font-size: 26px;
    line-height: 1.7;
  }
}

@media screen and (min-width: 1024px) {
  .awards h1 {
    font-size: 30px;
    line-height: 1.7;
  }
}

@media screen and (min-width: 1440px) {
  .awards h1 {
    font-size: 36px;
    line-height: 1.8;
  }
}

@media screen and (min-width: 2560px) {
  .awards h1 {
    font-size: 70px;
    line-height: 1.8;
  }
}

.awards article {
  color: #666666;
  margin: 0 0 10px;
  text-transform: none;
  margin-top: 0.5em;
}

@media screen and (min-width: 320px) {
  .awards article {
    font-size: 14.5px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 375px) {
  .awards article {
    font-size: 14.5px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 425px) {
  .awards article {
    font-size: 15px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 768px) {
  .awards article {
    font-size: 16px;
    line-height: 1.6;
  }
}

@media screen and (min-width: 1024px) {
  .awards article {
    font-size: 17px;
    line-height: 1.7;
  }
}

@media screen and (min-width: 1440px) {
  .awards article {
    font-size: 22px;
    line-height: 1.8;
  }
}

@media screen and (min-width: 2560px) {
  .awards article {
    font-size: 42px;
    line-height: 2;
  }
}

.makesusdif {
  width: 90%;
  margin-top: 1.5em;
}

.makesusdif article {
  color: #666666;
  margin: 0 0 10px;
  text-transform: none;
  margin-top: 1em;
}

@media screen and (min-width: 320px) {
  .makesusdif article {
    font-size: 14.5px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 375px) {
  .makesusdif article {
    font-size: 14.5px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 425px) {
  .makesusdif article {
    font-size: 15px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 768px) {
  .makesusdif article {
    font-size: 16px;
    line-height: 1.6;
  }
}

@media screen and (min-width: 1024px) {
  .makesusdif article {
    font-size: 17px;
    line-height: 1.7;
  }
}

@media screen and (min-width: 1440px) {
  .makesusdif article {
    font-size: 22px;
    line-height: 1.8;
  }
}

@media screen and (min-width: 2560px) {
  .makesusdif article {
    font-size: 42px;
    line-height: 2;
  }
}

.makesusdif p {
  color: #00a37b;
}

@media screen and (min-width: 320px) {
  .makesusdif p {
    font-size: 14.5px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 375px) {
  .makesusdif p {
    font-size: 14.5px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 425px) {
  .makesusdif p {
    font-size: 15px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 768px) {
  .makesusdif p {
    font-size: 16px;
    line-height: 1.6;
  }
}

@media screen and (min-width: 1024px) {
  .makesusdif p {
    font-size: 17px;
    line-height: 1.7;
  }
}

@media screen and (min-width: 1440px) {
  .makesusdif p {
    font-size: 22px;
    line-height: 1.8;
  }
}

@media screen and (min-width: 2560px) {
  .makesusdif p {
    font-size: 42px;
    line-height: 2;
  }
}

.makesusdif h1 {
  line-height: 1.2em;
}

@media screen and (min-width: 320px) {
  .makesusdif h1 {
    font-size: 20px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 375px) {
  .makesusdif h1 {
    font-size: 22.5px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 425px) {
  .makesusdif h1 {
    font-size: 24px;
    line-height: 1.6;
  }
}

@media screen and (min-width: 768px) {
  .makesusdif h1 {
    font-size: 26px;
    line-height: 1.7;
  }
}

@media screen and (min-width: 1024px) {
  .makesusdif h1 {
    font-size: 30px;
    line-height: 1.7;
  }
}

@media screen and (min-width: 1440px) {
  .makesusdif h1 {
    font-size: 36px;
    line-height: 1.8;
  }
}

@media screen and (min-width: 2560px) {
  .makesusdif h1 {
    font-size: 70px;
    line-height: 1.8;
  }
}

.makesusdif .icons_h5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 2.5em;
}

.makesusdif .icons_h5 .sma_h5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  background: #eee;
  margin: 0 30px 30px 0;
  width: 320px;
  height: 100px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.5) 0 3px 8px;
}

@media (max-width: 599px) {
  .makesusdif .icons_h5 .sma_h5 {
    width: 95%;
    margin: 15px 0 15px 0;
  }
}

.makesusdif .icons_h5 .sma_h5 .small {
  font-size: 48px;
  color: #024d86;
}

@media (max-width: 599px) {
  .makesusdif .icons_h5 .sma_h5 .small {
    font-size: 36px;
  }
}

.makesusdif .icons_h5 .sma_h5 h5 {
  font-size: 22px;
  color: #242424;
}

@media (max-width: 599px) {
  .makesusdif .icons_h5 .sma_h5 h5 {
    font-size: 18px;
  }
}

.contactPage {
  padding-bottom: 37.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2em;
}

@media (max-width: 599px) {
  .contactPage {
    padding-bottom: 89.5em;
  }
}

.contactPage .feelfree_h1::after {
  content: "";
  border-bottom: 2px solid #000;
  width: 6rem;
  display: block;
  margin-top: 0.1em;
}

.contactPage form {
  border: 1px solid #838383;
  border-radius: 5px;
  width: 500px;
  height: 100%;
  margin-top: 2.5em;
  padding: 1em;
}

@media (max-width: 599px) {
  .contactPage form {
    width: 80%;
  }
}

.contactPage form label {
  color: #696969;
}

.contactPage form input {
  margin-bottom: 1.2em;
  padding: 0.4em;
  width: 96%;
  outline: none;
}

.contactPage form select {
  width: 99.5%;
  padding: 0.5em;
  outline: none;
  margin-bottom: 1em;
  margin-top: 0.5em;
  text-transform: capitalize;
}

.contactPage form textarea {
  margin-bottom: 1.2em;
  padding: 0.4em;
  width: 96.7%;
  height: 70px;
  outline: none;
}

.contactPage form .submit_now_contactBtn {
  background-color: #113ea0;
  border: none;
  outline: none;
  color: white;
  border-radius: 3px;
  padding: 8px 20px;
  cursor: pointer;
  font-size: 15px;
}

.contactPage form .submit_now_contactBtn:hover {
  background-color: #00a73b;
}

.map_Wrappersss {
  width: 100%;
  margin-top: 1.5em;
}

.mapFrame {
  width: 100%;
  height: 350px;
  margin: 50px 0 0 0;
}

.home_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1em;
  width: 100%;
  padding-bottom: 37em;
}

@media (max-width: 599px) {
  .home_section {
    padding-bottom: 80em;
  }
}

.home_section .home_content {
  width: 100%;
}

.home_section .home_content .home_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

@media (max-width: 599px) {
  .home_section .home_content .home_info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.home_section .home_content .home_info .home_para {
  width: 50%;
  padding: 30px;
}

@media (max-width: 599px) {
  .home_section .home_content .home_info .home_para {
    width: 94%;
    padding: 0;
  }
}

.home_section .home_content .home_info .home_para .readmore {
  margin-top: 25px;
  outline: none;
  border: none;
  background-color: #1a3aca;
  padding: 13px 40px;
  color: white;
}

@media screen and (min-width: 320px) {
  .home_section .home_content .home_info .home_para .readmore {
    font-size: 14.5px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 375px) {
  .home_section .home_content .home_info .home_para .readmore {
    font-size: 14.5px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 425px) {
  .home_section .home_content .home_info .home_para .readmore {
    font-size: 15px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 768px) {
  .home_section .home_content .home_info .home_para .readmore {
    font-size: 16px;
    line-height: 1.6;
  }
}

@media screen and (min-width: 1024px) {
  .home_section .home_content .home_info .home_para .readmore {
    font-size: 17px;
    line-height: 1.7;
  }
}

@media screen and (min-width: 1440px) {
  .home_section .home_content .home_info .home_para .readmore {
    font-size: 22px;
    line-height: 1.8;
  }
}

@media screen and (min-width: 2560px) {
  .home_section .home_content .home_info .home_para .readmore {
    font-size: 42px;
    line-height: 2;
  }
}

@media (max-width: 599px) {
  .home_section .home_content .home_info .home_para .readmore {
    padding: 10px 30px;
  }
}

.home_section .home_content .home_info .home_para .readmore:hover {
  background-color: #00a73b;
  cursor: pointer;
}

.home_section .home_content .home_info .home_para .about_priority {
  text-align: start;
  text-transform: capitalize;
  margin-bottom: 5px;
}

@media screen and (min-width: 320px) {
  .home_section .home_content .home_info .home_para .about_priority {
    font-size: 20px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 375px) {
  .home_section .home_content .home_info .home_para .about_priority {
    font-size: 22.5px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 425px) {
  .home_section .home_content .home_info .home_para .about_priority {
    font-size: 24px;
    line-height: 1.6;
  }
}

@media screen and (min-width: 768px) {
  .home_section .home_content .home_info .home_para .about_priority {
    font-size: 26px;
    line-height: 1.7;
  }
}

@media screen and (min-width: 1024px) {
  .home_section .home_content .home_info .home_para .about_priority {
    font-size: 30px;
    line-height: 1.7;
  }
}

@media screen and (min-width: 1440px) {
  .home_section .home_content .home_info .home_para .about_priority {
    font-size: 36px;
    line-height: 1.8;
  }
}

@media screen and (min-width: 2560px) {
  .home_section .home_content .home_info .home_para .about_priority {
    font-size: 70px;
    line-height: 1.8;
  }
}

.home_section .home_content .home_info .home_para .about_priority span {
  color: #00a63d;
}

@media (max-width: 599px) {
  .home_section .home_content .home_info .home_para .about_priority {
    text-align: center;
    margin-bottom: 0;
  }
}

.home_section .home_content .home_info .home_para .about_text {
  text-align: justify;
  word-spacing: 0.5px;
  line-height: 2em;
}

@media screen and (min-width: 320px) {
  .home_section .home_content .home_info .home_para .about_text {
    font-size: 14.5px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 375px) {
  .home_section .home_content .home_info .home_para .about_text {
    font-size: 14.5px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 425px) {
  .home_section .home_content .home_info .home_para .about_text {
    font-size: 15px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 768px) {
  .home_section .home_content .home_info .home_para .about_text {
    font-size: 16px;
    line-height: 1.6;
  }
}

@media screen and (min-width: 1024px) {
  .home_section .home_content .home_info .home_para .about_text {
    font-size: 17px;
    line-height: 1.7;
  }
}

@media screen and (min-width: 1440px) {
  .home_section .home_content .home_info .home_para .about_text {
    font-size: 22px;
    line-height: 1.8;
  }
}

@media screen and (min-width: 2560px) {
  .home_section .home_content .home_info .home_para .about_text {
    font-size: 42px;
    line-height: 2;
  }
}

@media (max-width: 599px) {
  .home_section .home_content .home_info .home_para .about_text {
    word-spacing: 1px;
    line-height: 1.7em;
  }
}

.home_section .home_content .home_info .Home_image_sec {
  width: 50%;
  margin-top: 2em;
}

@media (max-width: 599px) {
  .home_section .home_content .home_info .Home_image_sec {
    width: 100%;
  }
}

.home_section .home_content .home_info .Home_image_sec img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

@media (max-width: 599px) {
  .home_section .home_content .home_info .Home_image_sec img {
    width: 100%;
    border-radius: 0;
  }
}

.home_section .home_content .location_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: 3em;
}

.home_section .home_content .location_section .our_location {
  color: #00a63d;
  font-weight: 500;
  text-transform: capitalize;
}

@media screen and (min-width: 320px) {
  .home_section .home_content .location_section .our_location {
    font-size: 14.5px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 375px) {
  .home_section .home_content .location_section .our_location {
    font-size: 14.5px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 425px) {
  .home_section .home_content .location_section .our_location {
    font-size: 15px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 768px) {
  .home_section .home_content .location_section .our_location {
    font-size: 16px;
    line-height: 1.6;
  }
}

@media screen and (min-width: 1024px) {
  .home_section .home_content .location_section .our_location {
    font-size: 17px;
    line-height: 1.7;
  }
}

@media screen and (min-width: 1440px) {
  .home_section .home_content .location_section .our_location {
    font-size: 22px;
    line-height: 1.8;
  }
}

@media screen and (min-width: 2560px) {
  .home_section .home_content .location_section .our_location {
    font-size: 42px;
    line-height: 2;
  }
}

.home_section .home_content .location_section .come_visit {
  text-transform: capitalize;
  font-weight: 500;
  margin-bottom: 1em;
}

@media screen and (min-width: 320px) {
  .home_section .home_content .location_section .come_visit {
    font-size: 20px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 375px) {
  .home_section .home_content .location_section .come_visit {
    font-size: 22.5px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 425px) {
  .home_section .home_content .location_section .come_visit {
    font-size: 24px;
    line-height: 1.6;
  }
}

@media screen and (min-width: 768px) {
  .home_section .home_content .location_section .come_visit {
    font-size: 26px;
    line-height: 1.7;
  }
}

@media screen and (min-width: 1024px) {
  .home_section .home_content .location_section .come_visit {
    font-size: 30px;
    line-height: 1.7;
  }
}

@media screen and (min-width: 1440px) {
  .home_section .home_content .location_section .come_visit {
    font-size: 36px;
    line-height: 1.8;
  }
}

@media screen and (min-width: 2560px) {
  .home_section .home_content .location_section .come_visit {
    font-size: 70px;
    line-height: 1.8;
  }
}

@media (max-width: 599px) {
  .home_section .home_content .location_section .come_visit {
    font-size: 30px;
  }
}

.home_section .home_content .location_section .loc_image {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 599px) {
  .home_section .home_content .location_section .loc_image {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.home_section .home_content .location_section .loc_image .loc_img_text {
  width: 100%;
  margin: 0 15px 0 15px;
  overflow: hidden;
  margin-bottom: 25px;
}

@media (max-width: 599px) {
  .home_section .home_content .location_section .loc_image .loc_img_text {
    margin: 0;
    width: 94%;
  }
}

.home_section .home_content .location_section .loc_image .loc_img_text img {
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}

.home_section .home_content .location_section .loc_image .loc_img_text img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@media (max-width: 599px) {
  .home_section .home_content .location_section .loc_image .loc_img_text img {
    width: 100%;
    height: 100%;
    margin-bottom: 25px;
  }
}

.home_section .home_content .location_section .loc_image .loc_img_text .loc_text {
  width: 95%;
}

.home_section .home_content .location_section .loc_image .loc_img_text .loc_text .com_name {
  margin: 0;
}

@media screen and (min-width: 320px) {
  .home_section .home_content .location_section .loc_image .loc_img_text .loc_text .com_name {
    font-size: 20px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 375px) {
  .home_section .home_content .location_section .loc_image .loc_img_text .loc_text .com_name {
    font-size: 22.5px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 425px) {
  .home_section .home_content .location_section .loc_image .loc_img_text .loc_text .com_name {
    font-size: 24px;
    line-height: 1.6;
  }
}

@media screen and (min-width: 768px) {
  .home_section .home_content .location_section .loc_image .loc_img_text .loc_text .com_name {
    font-size: 26px;
    line-height: 1.7;
  }
}

@media screen and (min-width: 1024px) {
  .home_section .home_content .location_section .loc_image .loc_img_text .loc_text .com_name {
    font-size: 30px;
    line-height: 1.7;
  }
}

@media screen and (min-width: 1440px) {
  .home_section .home_content .location_section .loc_image .loc_img_text .loc_text .com_name {
    font-size: 36px;
    line-height: 1.8;
  }
}

@media screen and (min-width: 2560px) {
  .home_section .home_content .location_section .loc_image .loc_img_text .loc_text .com_name {
    font-size: 70px;
    line-height: 1.8;
  }
}

.home_section .home_content .location_section .loc_image .loc_img_text .loc_text .com_address {
  color: #6f6f6f;
  text-align: justify;
  word-spacing: 0.5px;
  margin-bottom: 1.2em;
}

@media screen and (min-width: 320px) {
  .home_section .home_content .location_section .loc_image .loc_img_text .loc_text .com_address {
    font-size: 14.5px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 375px) {
  .home_section .home_content .location_section .loc_image .loc_img_text .loc_text .com_address {
    font-size: 14.5px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 425px) {
  .home_section .home_content .location_section .loc_image .loc_img_text .loc_text .com_address {
    font-size: 15px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 768px) {
  .home_section .home_content .location_section .loc_image .loc_img_text .loc_text .com_address {
    font-size: 16px;
    line-height: 1.6;
  }
}

@media screen and (min-width: 1024px) {
  .home_section .home_content .location_section .loc_image .loc_img_text .loc_text .com_address {
    font-size: 17px;
    line-height: 1.7;
  }
}

@media screen and (min-width: 1440px) {
  .home_section .home_content .location_section .loc_image .loc_img_text .loc_text .com_address {
    font-size: 22px;
    line-height: 1.8;
  }
}

@media screen and (min-width: 2560px) {
  .home_section .home_content .location_section .loc_image .loc_img_text .loc_text .com_address {
    font-size: 42px;
    line-height: 2;
  }
}

.contact_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: flex;
          flex-direction: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
  margin-top: 2em;
}

.contact_form .contact_form_content {
  text-align: center;
  background-color: #2e3143;
  width: 55%;
  height: 353px;
  padding: 12px 20px;
}

@media (max-width: 599px) {
  .contact_form .contact_form_content {
    width: 100%;
    padding: 7px 13px;
    height: 360px;
  }
}

.contact_form .contact_form_content .contact_use_to_book {
  margin-top: 1em;
  font-weight: 500;
  line-height: 1em;
  color: white;
}

@media screen and (min-width: 320px) {
  .contact_form .contact_form_content .contact_use_to_book {
    font-size: 20px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 375px) {
  .contact_form .contact_form_content .contact_use_to_book {
    font-size: 22.5px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 425px) {
  .contact_form .contact_form_content .contact_use_to_book {
    font-size: 24px;
    line-height: 1.6;
  }
}

@media screen and (min-width: 768px) {
  .contact_form .contact_form_content .contact_use_to_book {
    font-size: 26px;
    line-height: 1.7;
  }
}

@media screen and (min-width: 1024px) {
  .contact_form .contact_form_content .contact_use_to_book {
    font-size: 30px;
    line-height: 1.7;
  }
}

@media screen and (min-width: 1440px) {
  .contact_form .contact_form_content .contact_use_to_book {
    font-size: 36px;
    line-height: 1.8;
  }
}

@media screen and (min-width: 2560px) {
  .contact_form .contact_form_content .contact_use_to_book {
    font-size: 70px;
    line-height: 1.8;
  }
}

.contact_form .contact_form_content form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 95%;
  margin-top: 1.5em;
}

.contact_form .contact_form_content form .form_sec1,
.contact_form .contact_form_content form .form_sec2 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: flex;
          flex-direction: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact_form .contact_form_content form .form_sec1 input,
.contact_form .contact_form_content form .form_sec2 input {
  width: 43%;
  padding: 8px;
  margin-bottom: 1.5em;
}

.contact_form .contact_form_content form textarea {
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 1.5em;
}

.contact_form .contact_form_content form .cont_btn {
  border: none;
  outline: none;
  background-color: white;
  padding: 10px 50px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}

.contact_form .contact_form_content form .cont_btn:hover {
  background-color: #0f50b3;
  color: white;
}

.contact_form .form_img {
  width: 45%;
  height: 100%;
}

.contact_form .form_img img {
  width: 100%;
  height: 100%;
}

@media (max-width: 599px) {
  .contact_form .form_img {
    display: none;
  }
}

.footer_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-color: #2e3143;
}

.footer_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 20px 0 20px;
}

@media (max-width: 599px) {
  .footer_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer_about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60%;
  margin-top: 1.5em;
  margin-right: 2em;
}

@media (max-width: 599px) {
  .footer_about {
    margin-right: 0;
  }
}

.footer_about .footer_aboutUs {
  border-bottom: 2px solid green;
  color: #a3a4ac;
  margin-bottom: 0.5em;
}

@media screen and (min-width: 320px) {
  .footer_about .footer_aboutUs {
    font-size: 20px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 375px) {
  .footer_about .footer_aboutUs {
    font-size: 22.5px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 425px) {
  .footer_about .footer_aboutUs {
    font-size: 24px;
    line-height: 1.6;
  }
}

@media screen and (min-width: 768px) {
  .footer_about .footer_aboutUs {
    font-size: 26px;
    line-height: 1.7;
  }
}

@media screen and (min-width: 1024px) {
  .footer_about .footer_aboutUs {
    font-size: 30px;
    line-height: 1.7;
  }
}

@media screen and (min-width: 1440px) {
  .footer_about .footer_aboutUs {
    font-size: 36px;
    line-height: 1.8;
  }
}

@media screen and (min-width: 2560px) {
  .footer_about .footer_aboutUs {
    font-size: 70px;
    line-height: 1.8;
  }
}

.footer_about .footer_about_p {
  color: white;
}

@media screen and (min-width: 320px) {
  .footer_about .footer_about_p {
    font-size: 14.5px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 375px) {
  .footer_about .footer_about_p {
    font-size: 14.5px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 425px) {
  .footer_about .footer_about_p {
    font-size: 15px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 768px) {
  .footer_about .footer_about_p {
    font-size: 16px;
    line-height: 1.6;
  }
}

@media screen and (min-width: 1024px) {
  .footer_about .footer_about_p {
    font-size: 17px;
    line-height: 1.7;
  }
}

@media screen and (min-width: 1440px) {
  .footer_about .footer_about_p {
    font-size: 22px;
    line-height: 1.8;
  }
}

@media screen and (min-width: 2560px) {
  .footer_about .footer_about_p {
    font-size: 42px;
    line-height: 2;
  }
}

.footer_about a {
  color: #049a40;
  border-bottom: 1px dotted #ffe574;
  margin-top: 5px;
}

@media screen and (min-width: 320px) {
  .footer_about a {
    font-size: 14.5px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 375px) {
  .footer_about a {
    font-size: 14.5px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 425px) {
  .footer_about a {
    font-size: 15px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 768px) {
  .footer_about a {
    font-size: 16px;
    line-height: 1.6;
  }
}

@media screen and (min-width: 1024px) {
  .footer_about a {
    font-size: 17px;
    line-height: 1.7;
  }
}

@media screen and (min-width: 1440px) {
  .footer_about a {
    font-size: 22px;
    line-height: 1.8;
  }
}

@media screen and (min-width: 2560px) {
  .footer_about a {
    font-size: 42px;
    line-height: 2;
  }
}

.footer_links,
.footer_services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60%;
  margin-top: 1.5em;
}

.footer_links .footer_link_h1,
.footer_services .footer_link_h1 {
  border-bottom: 2px solid green;
  color: #a3a4ac;
  margin-bottom: 0.5em;
}

@media screen and (min-width: 320px) {
  .footer_links .footer_link_h1,
  .footer_services .footer_link_h1 {
    font-size: 20px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 375px) {
  .footer_links .footer_link_h1,
  .footer_services .footer_link_h1 {
    font-size: 22.5px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 425px) {
  .footer_links .footer_link_h1,
  .footer_services .footer_link_h1 {
    font-size: 24px;
    line-height: 1.6;
  }
}

@media screen and (min-width: 768px) {
  .footer_links .footer_link_h1,
  .footer_services .footer_link_h1 {
    font-size: 26px;
    line-height: 1.7;
  }
}

@media screen and (min-width: 1024px) {
  .footer_links .footer_link_h1,
  .footer_services .footer_link_h1 {
    font-size: 30px;
    line-height: 1.7;
  }
}

@media screen and (min-width: 1440px) {
  .footer_links .footer_link_h1,
  .footer_services .footer_link_h1 {
    font-size: 36px;
    line-height: 1.8;
  }
}

@media screen and (min-width: 2560px) {
  .footer_links .footer_link_h1,
  .footer_services .footer_link_h1 {
    font-size: 70px;
    line-height: 1.8;
  }
}

.footer_links ul li a,
.footer_services ul li a {
  color: white;
}

@media screen and (min-width: 320px) {
  .footer_links ul li a,
  .footer_services ul li a {
    font-size: 14.5px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 375px) {
  .footer_links ul li a,
  .footer_services ul li a {
    font-size: 14.5px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 425px) {
  .footer_links ul li a,
  .footer_services ul li a {
    font-size: 15px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 768px) {
  .footer_links ul li a,
  .footer_services ul li a {
    font-size: 16px;
    line-height: 1.6;
  }
}

@media screen and (min-width: 1024px) {
  .footer_links ul li a,
  .footer_services ul li a {
    font-size: 17px;
    line-height: 1.7;
  }
}

@media screen and (min-width: 1440px) {
  .footer_links ul li a,
  .footer_services ul li a {
    font-size: 22px;
    line-height: 1.8;
  }
}

@media screen and (min-width: 2560px) {
  .footer_links ul li a,
  .footer_services ul li a {
    font-size: 42px;
    line-height: 2;
  }
}

.footer_contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60%;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.footer_contact .getInTouch {
  border-bottom: 2px solid green;
  color: #a3a4ac;
  margin-bottom: 0.5em;
}

@media screen and (min-width: 320px) {
  .footer_contact .getInTouch {
    font-size: 20px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 375px) {
  .footer_contact .getInTouch {
    font-size: 22.5px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 425px) {
  .footer_contact .getInTouch {
    font-size: 24px;
    line-height: 1.6;
  }
}

@media screen and (min-width: 768px) {
  .footer_contact .getInTouch {
    font-size: 26px;
    line-height: 1.7;
  }
}

@media screen and (min-width: 1024px) {
  .footer_contact .getInTouch {
    font-size: 30px;
    line-height: 1.7;
  }
}

@media screen and (min-width: 1440px) {
  .footer_contact .getInTouch {
    font-size: 36px;
    line-height: 1.8;
  }
}

@media screen and (min-width: 2560px) {
  .footer_contact .getInTouch {
    font-size: 70px;
    line-height: 1.8;
  }
}

.footer_contact .footer_contact_p {
  width: 100%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media screen and (min-width: 320px) {
  .footer_contact .footer_contact_p {
    font-size: 14.5px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 375px) {
  .footer_contact .footer_contact_p {
    font-size: 14.5px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 425px) {
  .footer_contact .footer_contact_p {
    font-size: 15px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 768px) {
  .footer_contact .footer_contact_p {
    font-size: 16px;
    line-height: 1.6;
  }
}

@media screen and (min-width: 1024px) {
  .footer_contact .footer_contact_p {
    font-size: 17px;
    line-height: 1.7;
  }
}

@media screen and (min-width: 1440px) {
  .footer_contact .footer_contact_p {
    font-size: 22px;
    line-height: 1.8;
  }
}

@media screen and (min-width: 2560px) {
  .footer_contact .footer_contact_p {
    font-size: 42px;
    line-height: 2;
  }
}

.footer_contact .footer_phn_logo {
  margin-right: 5px;
  font-size: 20px;
}

.footer_contact .footer_clock_logo {
  margin-right: 5px;
  font-size: 16px;
}

.footer_contact .footer_location_logo {
  margin-right: 5px;
  font-size: 20px;
}

.footer_contact .footer_gmail_logo {
  margin-right: 5px;
  font-size: 16px;
}

.bottom_Section_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 10px 0;
  background-color: #024d86;
}

.bottom_Section_footer .powerdby {
  color: white;
}

@media screen and (min-width: 320px) {
  .bottom_Section_footer .powerdby {
    font-size: 14.5px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 375px) {
  .bottom_Section_footer .powerdby {
    font-size: 14.5px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 425px) {
  .bottom_Section_footer .powerdby {
    font-size: 15px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 768px) {
  .bottom_Section_footer .powerdby {
    font-size: 16px;
    line-height: 1.6;
  }
}

@media screen and (min-width: 1024px) {
  .bottom_Section_footer .powerdby {
    font-size: 17px;
    line-height: 1.7;
  }
}

@media screen and (min-width: 1440px) {
  .bottom_Section_footer .powerdby {
    font-size: 22px;
    line-height: 1.8;
  }
}

@media screen and (min-width: 2560px) {
  .bottom_Section_footer .powerdby {
    font-size: 42px;
    line-height: 2;
  }
}

.bottom_Section_footer .powerdby .eazmltd {
  color: #69f869;
}

@media screen and (min-width: 320px) {
  .bottom_Section_footer .powerdby .eazmltd {
    font-size: 14.5px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 375px) {
  .bottom_Section_footer .powerdby .eazmltd {
    font-size: 14.5px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 425px) {
  .bottom_Section_footer .powerdby .eazmltd {
    font-size: 15px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 768px) {
  .bottom_Section_footer .powerdby .eazmltd {
    font-size: 16px;
    line-height: 1.6;
  }
}

@media screen and (min-width: 1024px) {
  .bottom_Section_footer .powerdby .eazmltd {
    font-size: 17px;
    line-height: 1.7;
  }
}

@media screen and (min-width: 1440px) {
  .bottom_Section_footer .powerdby .eazmltd {
    font-size: 22px;
    line-height: 1.8;
  }
}

@media screen and (min-width: 2560px) {
  .bottom_Section_footer .powerdby .eazmltd {
    font-size: 42px;
    line-height: 2;
  }
}

.accreditations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 270px;
  background-color: #ddc9bd;
}

@media (max-width: 599px) {
  .accreditations {
    width: 100%;
    height: 480px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.accreditations .accreditations_h1 {
  padding: 0px 0 5px 0;
  margin: 0 0 10px 0;
}

@media screen and (min-width: 320px) {
  .accreditations .accreditations_h1 {
    font-size: 20px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 375px) {
  .accreditations .accreditations_h1 {
    font-size: 22.5px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 425px) {
  .accreditations .accreditations_h1 {
    font-size: 24px;
    line-height: 1.6;
  }
}

@media screen and (min-width: 768px) {
  .accreditations .accreditations_h1 {
    font-size: 26px;
    line-height: 1.7;
  }
}

@media screen and (min-width: 1024px) {
  .accreditations .accreditations_h1 {
    font-size: 30px;
    line-height: 1.7;
  }
}

@media screen and (min-width: 1440px) {
  .accreditations .accreditations_h1 {
    font-size: 36px;
    line-height: 1.8;
  }
}

@media screen and (min-width: 2560px) {
  .accreditations .accreditations_h1 {
    font-size: 70px;
    line-height: 1.8;
  }
}

.accreditations .accreditation_images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 98%;
}

.accreditations .accreditation_images img {
  width: 210px;
  height: 100px;
  margin: 7px;
}

@media (max-width: 599px) {
  .accreditations .accreditation_images img {
    width: 45%;
    height: 100px;
    margin: 8px;
  }
}

.accordian {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 42em;
  width: 100%;
  margin: 3em 0 0 8em;
}

@media (max-width: 599px) {
  .accordian {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 3em 0 0 0;
    padding-bottom: 95em;
  }
}

.accordian .accordian_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
}

@media (max-width: 599px) {
  .accordian .accordian_info {
    width: 95%;
  }
}

.accordian_content {
  border: 1px solid lightgrey;
  margin-top: 1.3em;
  width: 100%;
  cursor: pointer;
  background-color: #00a73b;
}

.accordian_content .question_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.accordian_content .question_icon .question {
  padding: 0.7em;
  font-size: 17px;
  text-transform: capitalize;
  color: white;
}

.accordian_content .question_icon .arrow_faq {
  margin-right: 0.4em;
  color: white;
}

.accordian_content .answer {
  display: none;
}

.accordian_content .show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1em;
  color: #425581;
  background-color: white;
  padding: 1em;
}

@media screen and (min-width: 320px) {
  .accordian_content .show {
    font-size: 14.5px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 375px) {
  .accordian_content .show {
    font-size: 14.5px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 425px) {
  .accordian_content .show {
    font-size: 15px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 768px) {
  .accordian_content .show {
    font-size: 16px;
    line-height: 1.6;
  }
}

@media screen and (min-width: 1024px) {
  .accordian_content .show {
    font-size: 17px;
    line-height: 1.7;
  }
}

@media screen and (min-width: 1440px) {
  .accordian_content .show {
    font-size: 22px;
    line-height: 1.8;
  }
}

@media screen and (min-width: 2560px) {
  .accordian_content .show {
    font-size: 42px;
    line-height: 2;
  }
}

.imageBanner {
  width: 100%;
  height: 350px;
}

.imageBanner .headerImage_section {
  width: 100%;
  height: 100%;
  position: relative;
}

.imageBanner .headerImage_section img {
  width: 100%;
  height: 100%;
}

.imageBanner .headerImage_section .about_aboutUs_h1 {
  position: absolute;
  top: 140px;
  left: 100px;
  color: white;
  font-size: 40px;
  font-weight: 500;
}

.career_layout {
  padding-bottom: 40em;
}
/*# sourceMappingURL=main.css.map */