.career_layout {
  @include flex(column, center, center);
  width: 100%;
  // margin-bottom: 3rem;
  text-transform: capitalize;
  .popoingss {
    width: 100%;
    height: 350px;
    position: relative;
    margin-bottom: 1rem;
    img {
      width: 100%;
      height: 100%;
      filter: brightness(0.5);
    }
    h2 {
      position: absolute;
      top: 10%;
      left: 50%;
      background-color: rgba(0, 0, 0, 0.25);
      transform: translate(-50%, -10%);
      color: white;
      font-size: 30px;
      padding: 12px;
      border-radius: 5px;
      text-shadow: 0 0 2px white;
      @include media(P) {
        @include font-size($h1-font-sizes);
      }
      @include media(PL) {
        @include font-size($h1-font-sizes);
      }
    }
  }
  .muetd {
    @include flex(column, flex-start, center);
    width: 60%;
    @include media(P) {
      width: 80%;
    }
    @include media(PL) {
      width: 80%;
    }
    margin: 1rem 0 1rem 0;
    h1 {
      font-weight: 400;
      color: $c5;
      position: relative;
      margin-bottom: 0.2rem;
      text-transform: uppercase;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 2px;
        width: 45%;
        height: 2px;
        border-bottom: 3px solid $c3;
      }
    }
    p {
      padding: 0.2rem 0 0.2rem 0;
      font-weight: 400;
      color: #3b3b3b;
    }
    button {
      @include btn;
      background-color: rgb(81, 138, 136);
      padding: 5px 15px;
      margin: 0.2rem 0 0 0;
    }
  }
}
