.contact_form {
  @include flex(column, center, center);
  width: 100%;
  height: 100%;
  .koaoaee {
    @include flex(row, flex-start, space-between);
    @include media(P) {
      @include flex(column, center, center);
      flex-direction: column-reverse;
    }
    @include media(PL) {
      @include flex(column, center, center);
      flex-direction: column-reverse;
    }
    width: 100%;
    height: 100%;
    .contact_form_content {
      @include flex(column, center, center);
      text-align: center;
      background-color: #2e3143;
      width: 50%;
      height: 376px;
      padding: 12px 30px;
      @include media(P) {
        width: 100%;
        padding: 7px 13px;
        height: 360px;
        margin: -10px;
      }
      @include media(PL) {
        width: 100%;
        padding: 7px 13px;
        height: 360px;
        margin: -10px;
      }
      .contact_use_to_book {
        margin-top: 1em;
        font-weight: 500;
        line-height: 1em;
        color: white;
        margin-bottom: 1.5rem;
        @include font-size($h1-font-sizes);
        @include media(MS) {
          @include font-size($h2-font-sizes);
        }
      }
      form {
        @include flex(column, center, center);
        width: 100%;
        @include media(P) {
          width: 95%;
        }
        @include media(PL) {
          width: 95%;
        }
        .form_sec1,
        .form_sec2 {
          width: 100%;
          @include flex(flex, center, space-between);
          input {
            width: 43%;
            padding: 8px;
            margin-bottom: 1.5em;
          }
        }
        textarea {
          width: 99%;
          padding-bottom: 10px;
          margin-bottom: 1.5em;
          &::placeholder {
            padding-left: 0.5rem;
            padding-top: 0.8rem;
            color: $c4;
          }
        }
        .cont_btn {
          border: none;
          outline: none;
          padding: 10px 50px;
          text-transform: uppercase;
          cursor: pointer;
          background-color: $c15;
          color: white;
        }
      }
    }
  }
  .form_img {
    width: 50%;
    height: 100%;
    @include media(P) {
      width: 100%;
    }
    @include media(PL) {
      width: 100%;
    }
    img {
      width: 100%;
      height: 400px;
      filter: brightness(1.3);
    }
  }
  .mao {
    width: 80%;
    margin-top: 2em;
    @include flex(column, center, center);
    .jsjsjsoiwo {
      margin: 0.5rem 0 0.7rem 0;
      color: $c5;
      font-weight: 600;
      border-bottom: 2px solid $c5;
    }
    .kopops {
      width: 80%;
      @include flex(row, center, space-between);
      @include media(P) {
        @include flex(column, center, center);
        text-align: center;
      }
      @include media(PL) {
        @include flex(column, center, center);
        text-align: center;
      }
      p {
        font-weight: 500;
        color: $c5;
      }
      .oiop {
        margin: 0.5rem 0 0.7rem 0;
        @include font-size($h2-font-sizes);
        color: $c6;
        font-weight: 600;
      }
      .hashbbjask {
        @include flex(column, center, center);
        box-shadow: $shadow2;
        padding: 20px;
        width: 250px;
        height: 130px;
        border-radius: 10px;
        margin-top: 2rem;
        margin-bottom: 2rem;
        cursor: pointer;

        @include media(P) {
          width: 340px;
          height: 130px;
        }
        @include media(PL) {
          width: 340px;
          height: 130px;
        }
        .BiMessageRoundedCheck {
          font-size: 50px;
          color: $c6;
        }
        .mailto {
          @include font-size($h2-font-sizes);
          margin-top: 0.3rem;
          font-weight: 600;
          color: $c6;
        }
        p {
          @include font-size($p-font-sizes);
          font-weight: 500;
          color: $c5;
        }
      }
    }
  }
}
