.contactPage {
  padding-bottom: 37.5em;
  @include flex(column, center, center);
  margin-top: 2em;
  @include media(P) {
    padding-bottom: 89.5em;
  }
  .feelfree_h1 {
    &::after {
      content: "";
      border-bottom: 2px solid #000;
      width: 6rem;
      display: block;
      margin-top: 0.1em;
    }
  }
  form {
    border: 1px solid #838383;
    border-radius: 5px;
    width: 500px;
    height: 100%;
    margin-top: 2.5em;
    padding: 1em;
    @include media(P) {
      width: 80%;
    }
    label {
      color: #696969;
    }
    input {
      margin-bottom: 1.2em;
      padding: 0.4em;
      width: 96%;
      outline: none;
    }
    select {
      width: 99.5%;
      padding: 0.5em;
      outline: none;
      margin-bottom: 1em;
      margin-top: 0.5em;
      text-transform: capitalize;
    }
    textarea {
      margin-bottom: 1.2em;
      padding: 0.4em;
      width: 96.7%;
      height: 70px;
      outline: none;
    }
    .submit_now_contactBtn {
      background-color: rgb(17, 62, 160);
      border: none;
      outline: none;
      color: white;
      border-radius: 3px;
      padding: 8px 20px;
      cursor: pointer;
      font-size: 15px;
      &:hover {
        background-color: #00a73b;
      }
    }
  }
}

// MAP
.map_Wrappersss {
  width: 100%;
  margin-top: 1.5em;
}
.mapFrame {
  width: 100%;
  height: 350px;
  margin: 50px 0 0 0;
}
