.errorror {
  @include flex(column, center, center);
  margin-top: 3rem;
  .errcss {
    @include flex(column, center, center);
    text-align: center;
    small {
      margin-top: 0.2rem;
      @include font-size($p-font-sizes);
    }
  }
}
