.footer_section {
  @include flex(column, center, center);
  width: 100%;
  background-color: #000428;
}
.footer_content {
  @include flex(row, flex-start, space-around);
  padding: 20px 20px 0 20px;
  @include media(P) {
    @include flex(column, center, center);
  }
}
.footer_about {
  @include flex(column, flex-start, center);
  width: 60%;
  margin-top: 1.5em;
  margin-right: 2em;
  @include media(P) {
    margin-right: 0;
  }
  .footer_aboutUs {
    border-bottom: 2px solid green;
    color: #a3a4ac;
    margin-bottom: 0.5em;
    @include font-size($h1-font-sizes);
  }
  .footer_about_p {
    color: white;
    @include font-size($p-font-sizes);
  }
  a {
    color: #049a40;
    border-bottom: 1px dotted rgb(255, 229, 116);
    @include font-size($p-font-sizes);
    margin-top: 5px;
  }
}
.footer_links,
.footer_services {
  @include flex(column, flex-start, center);
  width: 60%;
  margin-top: 1.5em;
  .footer_link_h1 {
    border-bottom: 2px solid green;
    color: #a3a4ac;
    margin-bottom: 0.5em;
    @include font-size($h1-font-sizes);
  }
  ul li a {
    color: white;
    @include font-size($p-font-sizes);
  }
}
.footer_contact {
  @include flex(column, flex-start, center);
  width: 60%;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  .getInTouch {
    border-bottom: 2px solid green;
    color: #a3a4ac;
    margin-bottom: 0.5em;
    @include font-size($h1-font-sizes);
  }
  .footer_contact_p {
    width: 100%;
    color: white;
    @include font-size($p-font-sizes);
    @include flex(row, flex-start, flex-start);
    margin-bottom: 0.5rem;
  }
  .footer_phn_logo {
    font-size: 21px;
    color: white;
    margin-right: 0.25rem;
  }
  .footer_clock_logo {
    font-size: 16px;
    margin-right: 0.3rem;
    margin-top: 0.25rem;
  }
  .footer_location_logo {
    font-size: 24px;
  }
  .footer_gmail_logo {
    font-size: 16px;
    margin-top: 0.26rem;
    margin-right: 0.3rem;
  }
}

.bottom_Section_footer {
  @include flex(row, center, center);
  width: 100%;
  padding: 10px 0;
  background-color: #024d86;
  .powerdby {
    color: white;
    @include font-size($p-font-sizes);
    .eazmltd {
      color: rgb(105, 248, 105);
      font-size: 15px;
      font-weight: 400;
    }
  }
}
