.header_section {
  @include flex(column, center, center);
  box-shadow: $shadow8;
  nav {
    width: 100%;
    border-bottom: 1px solid lightgrey;
    ul {
      @include flex(row, center, center);
      .icons_header {
        @include flex(row, center, center);
        width: 120px;
        .header_social_icon1,
        .header_social_icon2,
        .header_social_icon3,
        .header_social_icon4 {
          color: #646b7a;
          cursor: pointer;
          margin: 4px;
          font-size: 20px;
          @include media-480 {
            font-size: 17px;
          }
        }
        .header_social_icon1 {
          &:hover {
            color: #4267b2;
          }
        }
        .header_social_icon2 {
          &:hover {
            color: #1da1f2;
          }
        }
        .header_social_icon3 {
          &:hover {
            color: #0077b5;
          }
        }
        .header_social_icon4 {
          &:hover {
            color: #075e54;
          }
        }
      }
      li {
        padding: 10px 0 10px 0;
        a {
          color: #0077b5;
          padding: 7px;
          font-size: 14px;
          text-transform: uppercase;
          @include media-480 {
            font-size: 12px;
            text-transform: uppercase;
          }
        }
        .phnNum {
          margin-left: 10px;
          margin-right: 10px;
          .phone {
            color: #02a83d;
            transform: translateY(2px);
          }
          small {
            font-size: 14px;
          }
          @include media-480 {
            display: none;
          }
        }
        button {
          background-color: #024d86;
          color: white;
          border: none;
          outline: none;
          border-radius: 3px;
          padding: 4px 5px;
          text-transform: uppercase;
        }
      }
    }
  }
  header {
    @include flex(row, center, space-between);
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100%;
    .hambergur {
      display: none;
      @include media(P) {
        margin-right: 1.2em;
        display: flex;
      }

      .hmenu {
        font-size: 33px;
        cursor: pointer;
        color: #18ba60;
        @include media-480 {
          font-size: 26px;
        }
      }
    }
    .header_image {
      @include flex(row, center, center);
      margin-left: 1.3em;
      @include media(P) {
        margin-left: 0.7em;
      }
      img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        @include media-480 {
          width: 50px;
          height: 50px;
        }
      }
      .header_image_content {
        @include flex(column, flex-start, center);
        margin-left: 0.4em;
        line-height: 18px;
        article {
          font-weight: 500;
          font-size: 1.1em;
          color: rgb(0, 96, 185);
          @include media-480 {
            font-size: 14.5px;
          }
        }
        small {
          font-weight: 500;
          font-size: 13px;
          color: rgb(80, 162, 240);
          @include media-480 {
            font-size: 11.5px;
            line-height: 15px;
            margin-top: 2px;
          }
        }
      }
    }
    .hideLinks {
      z-index: 1000;
      position: absolute;
      top: 143px;
      left: 0;
      width: 100%;
      background-color: white;
      box-shadow: rgba(0, 0, 0, 0.2) 0 2px 10px;
      ul {
        @include flex(column, center, center);
        width: 100%;
        li {
          width: 100%;
          border-bottom: 1px solid lightgrey;
          padding: 10px;
          a {
            font-size: 15px;
            margin-left: 20px;
            color: rgb(56, 56, 56);
            font-weight: 500;
            text-transform: uppercase;
            .home_icon {
              font-size: 20px;
              color: #02a83d;
            }
            &:hover {
              color: #0077b5;
            }
          }
        }
      }
    }
    .second_header {
      @include media(P) {
        display: none;
      }
      ul {
        @include flex(row, center, center);
        margin-right: 2em;
        @include media(P) {
          margin-right: 1em;
        }
        li {
          @include flex(row, center, center);
          padding: 0 5px 0 5px;
          a {
            color: black;
            text-transform: uppercase;
            font-size: 14.5px;
            font-weight: 500;
            .home_icon {
              font-size: 20px;
              margin-right: 5px;
              color: #02a83d;
            }
            &:hover {
              color: #0077b5;
            }
          }
        }
      }
    }
  }
}
