.header_section {
  @include flex(column, center, center);
  box-shadow: $shadow1;
  nav {
    width: 100%;
    background-color: $c11;
    padding: 5px;
    ul {
      @include flex(row, center, space-between);
      width: 100%;
      @include media(MS) {
        @include flex(row, center, center);
        flex-wrap: wrap;
      }
      @include media(MM) {
        @include flex(row, center, center);
        flex-wrap: wrap;
      }
      .icons_header {
        @include flex(row, center, center);
        width: 120px;
        margin-right: 5px;
        @include media(MS) {
          margin-right: 0px;
        }
        .header_social_icon1,
        .header_social_icon2,
        .header_social_icon3,
        .header_social_icon4 {
          color: white;
          cursor: pointer;
          margin: 4px;
          font-size: 23px;
          @include media(MS) {
            margin-right: 2px;
            margin-top: 0.2rem;
            font-size: 20px;
          }
          @include media(MM) {
            margin-right: 2px;
            margin-top: 0.2rem;
            font-size: 20px;
          }
          @include media(P) {
            font-size: 18px;
          }
        }
        .header_social_icon1 {
          &:hover {
            color: #4267b2;
          }
          @include media(MS) {
            font-size: 20px;
          }
        }
        .header_social_icon2 {
          font-size: 25px;
          @include media(P) {
            font-size: 18px;
          }
          @include media(MS) {
            font-size: 22px;
          }
          &:hover {
            color: #1da1f2;
          }
        }
        .header_social_icon3 {
          @include media(P) {
            font-size: 18px;
          }
          @include media(MS) {
            font-size: 21px;
          }
          font-size: 25px;
          &:hover {
            color: #0077b5;
          }
        }
        .header_social_icon4 {
          font-size: 23.5px;
          @include media(P) {
            font-size: 18px;
          }
          padding-top: 0.24rem;
          @include media(MS) {
            font-size: 21px;
          }
          &:hover {
            color: #08f764;
          }
        }
      }
      li {
        @include flex(row, center, center);

        .phonelogo {
          font-size: 22px;
          color: white;
          margin-right: 0.2rem;
          margin-left: 0.7rem;
          margin-bottom: 0.2rem;
          @include media(P) {
            font-size: 19px;
            margin-left: 0.7rem;
          }
          @include media(MS) {
            font-size: 22px;
          }
          @include media(MS) {
            margin-left: 0.2rem;
          }
          @include media(MM) {
            margin-left: 0.2rem;
          }
        }
        .phnNum {
          @include flex(row, center, center);
          p {
            margin-right: 0.8rem;
            color: white;
            font-weight: 400;
            @include font-size($p-font-sizes);
            @include media(P) {
              font-size: 14px;
            }
            @include media(MS) {
              font-size: 14px;
            }
          }
        }
        button {
          background-color: #024d86;
          color: white;
          border: none;
          outline: none;
          border-radius: 3px;
          padding: 4px 5px;
          text-transform: uppercase;
        }
      }
    }
  }
  header {
    @include flex(row, center, space-between);
    padding: 1.5rem 0 1.5rem 0;
    width: 100%; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-color: #262c47;
    .hambergur {
      display: none;

      @include media(P) {
        margin-right: 1.2em;
        display: flex;
      }
      @include media(PL) {
        margin-right: 1.2em;
        display: flex;
      }
      .hmenu {
        font-size: 30px;
        cursor: pointer;
        color: white;
        @include media(P) {
          font-size: 26px;
        }
        @include media(PL) {
          font-size: 26px;
        }
      }
    }
    .header_image {
      @include flex(row, center, center);
      margin-left: 1.3em;
      @include media(P) {
        margin-left: 0.2em;
      }
      @include media(PL) {
        margin-left: 0.2rem;
      }
      @include media(T) {
        margin-left: 0rem;
      }
      @include media(MS) {
        margin-left: 0rem;
      }
      .apdfn {
        @include flex(column, flex-start, center);
        margin-left: 0.05rem;
        width: 250px;
        @include media(P) {
          width: 200px;
        }
        b {
          color: white;
          @include font-size($p-font-sizes);
          @include media(T) {
            font-size: 18px;
          }
          @include media(MS) {
            font-size: 18.2px;
          }
          @include media(MM) {
            font-size: 18.2px;
          }
          @include media(P) {
            font-size: 18.2px;
          }
          @include media(PL) {
            font-size: 18.3px;
          }
          @include media(T) {
            font-size: 20px;
          }
        }
        small {
          color: $c15;
          @include media(T) {
            font-size: 14px;
          }
        }
      }
      img {
        width: 80px;
        height: 75px;
        margin-left: 0.5em;
        filter: brightness(1.4) saturate(4);
        border-radius: 50%;
        @include media(P) {
          width: 63px;
          height: 63px;
        }
        @include media(PL) {
          width: 60px;
          height: 60px;
        }
        @include media(MM) {
          width: 60px;
          height: 60px;
        }
        @include media(T) {
          width: 65px;
          height: 65px;
        }
      }
      .header_image_content {
        @include flex(column, flex-start, center);
        margin-left: 0.4em;
        line-height: 18px;
        article {
          font-weight: 500;
          font-size: 1.1em;
          color: rgb(0, 96, 185);
          @include media(P) {
            font-size: 14.5px;
          }
        }
        small {
          font-weight: 500;
          font-size: 13px;
          color: rgb(80, 162, 240);
          @include media(P) {
            font-size: 11.5px;
            line-height: 15px;
            margin-top: 2px;
          }
          @include media(PL) {
            font-size: 11.5px;
            line-height: 15px;
            margin-top: 2px;
          }
        }
      }
    }
    .hideLinks {
      display: none;
      @include media(P) {
        display: flex;
      }
      @include media(PL) {
        display: flex;
      }
      z-index: 1000;
      position: absolute;
      top: 150px;
      @include media(MS) {
        top: 180px;
      }
      left: 0;
      width: 100%;
      background-color: white;
      box-shadow: rgba(0, 0, 0, 0.2) 0 2px 10px;
      animation: slidees 0.3s ease;
      @keyframes slidees {
        0% {
          top: -10px;
          opacity: 0;
          width: 50%;
        }
        100% {
          top: 150px;
          opacity: 1;
          width: 100%;
        }
      }
      ul {
        @include flex(column, center, center);
        width: 100%;
        li {
          width: 100%;
          border-bottom: 1px solid lightgrey;
          padding: 10px;
          a {
            font-size: 15px;
            @include media(MS) {
              font-size: 14px;
            }
            @include media(MM) {
              font-size: 14px;
            }
            @include media(P) {
              font-size: 14px;
            }
            margin-left: 20px;
            font-weight: 500;
            text-transform: uppercase;
            transition: 0.2s ease-in;
            .home_icon {
              font-size: 20px;
              color: #00d149;
            }
            &:hover {
              color: #00d149;
            }
          }
        }
      }
    }
    .second_header {
      @include media(P) {
        display: none;
      }
      @include media(PL) {
        display: none;
      }
      ul {
        @include flex(row, center, center);
        margin-right: 2em;
        @include media(P) {
          margin-right: 1em;
        }
        @include media(T) {
          margin-right: 0.3em;
        }
        li {
          @include flex(row, center, center);
          padding: 0 7px 0 7px;
          a {
            color: white;
            text-transform: uppercase;
            font-size: 15px;
            font-weight: 500;
            transition: 0.2s ease-in;
            &:hover {
              color: #05ff5c;
            }
            .home_icon {
              font-size: 25px;
              margin-right: 5px;
              color: #05ff5c;
            }
          }
        }
      }
    }
  }
}
