.serviceSec_wrapper {
  @include flex(column, flex-start, center);
  margin: 3em 0 5em 0;
  width: 100%;
  button {
    @include btn;
    margin: 1rem 0 0 2rem;
    @include media(P) {
      margin: 1rem 0 0 1rem;
    }
  }
}
.serviceSec_ourservices_h1 {
  margin-left: 2.5%;
  color: #007767;
  @include font-size($h1-font-sizes);
}
.serviceSec_ourservices_h1.animate {
  transform: translateX(0);
  opacity: 1;
}
.serviceSec_content {
  @include flex(column, center, center);
  width: 100%;
  position: relative;
  margin-top: 1em;
  .bsarrowleft,
  .bsarrowright {
    font-size: 40px;
    cursor: pointer;
    color: #fafcfc;
    z-index: 700;
    @include media(P) {
      font-size: 33px;
    }
  }
  .bsarrowright {
    position: absolute;
    bottom: 0.8em;
    right: 2em;
    @include media(P) {
      position: absolute;
      bottom: 0.6em;
      right: 0.5em;
    }
  }
  .bsarrowleft {
    position: absolute;
    bottom: 0.8em;
    right: 4em;
    @include media(P) {
      position: absolute;
      bottom: 0.6em;
      right: 1.8em;
    }
  }
  .serviceSec_details {
    @include flex(column, center, center);
    width: 95%;
    height: 350px;
    @include media(P) {
      height: 100%;
    }
    .serviceSec_info {
      @include flex(row, flex-start, space-between);
      overflow: hidden;
      width: 100%;
      height: 350px;
      margin-bottom: 10px;
      border-left: 3px solid #ffeeee;
      @include media(P) {
        height: 250px;
      }
      img {
        width: 49%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
        user-select: none;
      }
      .service_title_des {
        @include flex(column, flex-start, flex-start);
        background-color: #2c465d;
        // clip-path: ellipse(156% 100% at -23.14% 0%);
        width: 49%;
        height: 100%;
        padding-left: 20px;
        padding-top: 10px;
        .service_title_des_title {
          @include font-size($h1-font-sizes);
          color: white;
          text-transform: capitalize;
          font-weight: 600;
          user-select: none;
          z-index: 1000;
        }

        small {
          font-size: 15px;
          width: 90%;
          text-transform: capitalize;
          font-weight: 500;
          user-select: none;
          color: #dff9fb;
          margin-top: 0.2em;
        }
      }
    }
  }
}
