.slider_wrapper {
  @include flex(column, center, center);
  width: 100%;
  height: 450px;
  overflow: hidden;

  .carousel-container {
    width: 100%;
    height: 450px;
  }
  .item_class {
    width: 100%;
    height: 450px;
  }
  .slider_image_info {
    width: 100%;
    height: 450px;
    transition: all 2s ease;
    overflow: hidden;
    .slider_image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      animation: fadeIn ease 14s infinite;
      overflow: hidden;
      filter: brightness(0.5) contrast(1.25) saturate(50%);
      @keyframes fadeIn {
        0% {
          transform: scale(1);
        }
        100% {
          transform: scale(1.245);
        }
      }
    }
    h1 {
      position: absolute;
      width: 100%;
      text-align: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      z-index: 1000;
      text-transform: capitalize;
      font-weight: 500;
      font-size: 30px;
      font-family: $fontFamily2;
      @include media(P) {
        font-size: 24px;
      }
    }
    button {
      position: absolute;
      position: absolute;
      top: 62%;
      left: 50%;
      transform: translate(-50%, -62%);
      z-index: 1000;
      border: none;
      background-color: $c18;
      color: white;
      width: 110px;
      height: 38px;
      text-transform: capitalize;
      border-radius: 4px;
      @include font-size($p-font-sizes);
      letter-spacing: 0.8px;
      cursor: pointer;
    }
  }
}
@include media(P) {
  .slider_wrapper,
  .carousel-container,
  .item_class,
  .slider_image_info,
  .slider_image {
    width: 100%;
    height: 320px;
  }
}
